:root {
    --font: ;
}


body {
    margin: 0px;
    flex-direction: row;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed red;
    color: aliceblue;
    background-image: linear-gradient(to right, rgb(0, 242, 255), rgb(75, 16, 126));
}

h1 {
    font-size: xxx-large;
    margin: 0px;
    padding: 15px 15px 0px 15px;
}
h2{
    font-size: x-large;
    margin: 0px;
    padding: 0px 15px 15px 25px;
}
h3 {
    font-size: xx-large;
    margin: 0px;
    padding: 15px 15px 0px 15px;
}
h4{
    font-size: x-large;
    margin: 0px;
    padding-left: 25px;
}


main {
    display: flex;
    /* flex-direction: row; */
    /* display: flex; */
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px dashed red;
}

aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    float: left;
    padding: 25px;
    /* padding-left:100px; */
    /* height: 400px; */
    width: 20%;
    font-size: x-large;
    border: 2px dashed red;
}

input {
    font-size: x-large;
    margin:10px 0 5px 0;
    width: 90%;
    padding: 10px;
    border-color: gainsboro;
    border-radius: 8px;

}

#search-btn {
    background-color: rgb(165, 190, 255);
    margin:10px 0;
    width: 100%;
}

#history {
    width:100%;
}

.history-btn {
    font-size: x-large;
    margin: 5px 0 5px 0;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(187, 197, 222);

}

#current {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 25px;
    margin: 25px;
    width: 100%;
    border: 3px solid rgb(0, 0, 0);
    background-color: darkcyan;
    color: ghostwhite;
    border-radius: 8px;
    font-size: x-large;
}

.city {
    font-size: xxx-large;
    font-weight: bolder;    
}

#current-details {
    margin: 0 !important;
    width:100%
} 
.image {
    max-height: auto;
    min-width: 200px;
    position: relative;
}

.date {
    font-size: large;
}

#five-day {
    display: flex;
    flex-direction: row;
    float: right;
    padding: 25px;
    width: 100%;
    /* border: 2px dashed red; */
}

.five-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: cadetblue;
    color: ghostwhite;
    border: 3px solid rgb(0, 0, 0);
    width: 20%;
}

.five-date {
    font-size: larger;
    font-weight: bolder;
}

.five-details {
    font-size: small;
    margin: 0px
}


img {
    max-height: auto;
    max-width: 30px;
}